# ETL

### Import required Libraries

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

# Extract

In [ ]:
player_names = []
total_games = []
player_url = []
for i in range(1, 19):
    url = "https://www.chess.com/games?page=" + str(i)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    names  = soup.find_all('a', class_= "post-preview-title")
    games = soup.find_all('div', class_= "post-preview-meta")
    for name in names:
        n = name.text.strip().replace("\n", "")
        player_names.append(n)

        p_url = "https://www.chess.com/games/" + str(n)
        player_url.append(p_url)

    for g in games:
        total_games.append(g.text.strip().replace("\n", ""))

### From the player_url list we get url for individual player. From this url, we can extract data related to that player

In [ ]:
player_age = []
place_of_birth = []
federation = []
for link in player_url:
    response = requests.get(link)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, "html.parser")
        ages = soup.find_all("span", class_= "master-players-age")
        birth = soup.find_all("div", class_= "master-players-value")[2]
        fed = soup.find_all("div", class_= "master-players-value")[3]
        for age in ages:
            a = age.text.strip().replace("\u200e", "")
            player_age.append(a)
        for bi in birth:
            b = bi.text.strip().replace("\n", "")
            place_of_birth.append(b)
        for fe in fed:
            f = fe.text.strip().replace("\n", "")
            federation.append(f)
    else:
        print(response)
        
    print(a)
    time.sleep(15)
player_age

### Check the Lengths

In [44]:
print(len(place_of_birth))
print(len(federation))
print(len(player_age))
print(len(player_names))
print(len(total_games))

188
188
188
188
188

# Transform

### Looks like 'player_age' and 'total_games' columns are not in proper format(DataType). Lets change that.

In [45]:
final_player_age = [int(i.split()[1][:-1]) for i in player_age]
final_player_age
final_total_games = [int(i.split()[0].replace(",", "")) for i in total_games]
final_total_games

[2420,
 1189,
 4112,
 1310,
 5201,
 377,
 4216,
 3189,
 3457,
 1315,
 2085,
 2354,
 365,
 637,
 1587,
 1914,
 2065,
 2335,
 3955,
 1978,
 4201,
 2564,
 1663,
 1374,
 2787,
 1703,
 1280,
 1156,
 379,
 781,
 1427,
 2787,
 1767,
 2432,
 638,
 1163,
 1113,
 872,
 1286,
 2685,
 239,
 1956,
 1013,
 2974,
 405,
 1541,
 1045,
 1723,
 2469,
 1822,
 1075,
 1808,
 784,
 2372,
 1800,
 1765,
 608,
 2244,
 2490,
 1041,
 1250,
 1680,
 662,
 1314,
 3374,
 1976,
 441,
 1207,
 1207,
 2147,
 3533,
 735,
 2614,
 2128,
 1237,
 2662,
 702,
 1924,
 1959,
 2685,
 1836,
 1438,
 942,
 2091,
 679,
 1029,
 920,
 703,
 1965,
 1772,
 1704,
 2060,
 1154,
 2112,
 1003,
 2084,
 1169,
 260,
 1519,
 1874,
 1042,
 951,
 1708,
 1632,
 3318,
 1519,
 887,
 373,
 2217,
 858,
 768,
 4023,
 63,
 4228,
 824,
 1703,
 384,
 1086,
 1844,
 1919,
 2123,
 1378,
 745,
 2475,
 1412,
 1618,
 1193,
 1598,
 886,
 431,
 1063,
 1107,
 1992,
 623,
 2119,
 1267,
 771,
 1635,
 755,
 2315,
 419,
 3722,
 946,
 1104,
 2386,
 2079,
 2603,
 1136,
 1663,
 1583,
 1108,
 811,
 1903,
 927,
 1878,
 1683,
 1368,
 1376,
 1716,
 2530,
 1509,
 402,
 1459,
 3138,
 3156,
 1115,
 907,
 925,
 865,
 1841,
 1497,
 1641,
 4660,
 2286,
 1170,
 1623,
 3712,
 2063,
 1888,
 2201,
 989,
 1541,
 1440,
 2949,
 1753,
 1991,
 1015,
 1484]

In [49]:
df = pd.DataFrame({"Name": player_names, "Age": final_player_age, "Official Games Played": final_total_games, "Place of Birth": place_of_birth, "Federation": federation, })

df

,Name,Age,Official Games Played,Place of Birth,Federation
0,Garry Kasparov,60,2420,"Baku, Azerbaijan SSR, Soviet Union",Russia
1,Bobby Fischer,64,1189,"Chicago, Illinois, US",United States
2,Magnus Carlsen,32,4112,"TÃ¸nsberg, Norway",Norway
3,Jose Raul Capablanca,53,1310,"Havana, Cuba",Cuba
4,Hikaru Nakamura,35,5201,"Hirakata, Japan",United States
...,...,...,...,...,...
183,Wesley So,29,2949,"Bacoor, Cavite, Philippines",United States
184,Yasser Seirawan,63,1753,"Damascus, Syria",United States
185,Yu Yangyi,29,1991,"Huangshi, Hubei, China",China
186,Zhang Zhong,45,1015,,China
187,Zurab Azmaiparashvili,63,1484,"Tbilisi, Georgian SSR",Georgia

# Load

In [50]:
df.to_csv("ChessInfo.csv", index=False, header=True)
df.to_excel("ChessInfo.xlsx", index=False, header=True)